*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation section */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.logo{
    margin: 20px;
    font-size: 30px;
}
.items ul{
    display: flex;
    flex-direction: row;
}
.items ul li{
    list-style: none;
    font-size: 22px;
}
.items ul li a{
    text-decoration: none;
    margin: 20px 30px;
    color: white;
}
.highlight{
    color: #fa6b9bfc;
    font-weight: 800;
}
/* header */
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.head-heading{
    font-size: 45px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
}
.head-text{
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 15px;
    color: white;
}
.btn{
    background-color: #fa6b9bfc;
    color: white;
    padding: 12px;
    font-size: 20px;
    border-radius: 23px;
}
.head a{
    text-decoration: none;
}
/* about us section */
.about-us{
    display: flex;
    flex-direction: row;
    margin: 25px;
}
.about-one{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.one-heading{
    font-size: 35px;
    padding-bottom: 12px;
    font-weight: 300;
}
.one-para{
    font-size: 17px;
    font-weight: 150;
}

.about-two img{
height: 300px;
width: 400px;
padding: 10px;
}
/* menu section */
.menu{
    margin-top: 25px;
}
.menu-one{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.menu-heading{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
}
.menu-para{
    font-size: 20px;
    font-weight: 150;
}
.menu-two{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 20px;
   
}
.box img{
    height: 200px;
    width: 200px;
    padding: 10px;
}
.box h2{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 100;
}
/* kitchen expert section */
.expert-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    border: 2px solid whitesmoke;
    background-color: rgb(248, 228, 228);
    margin: 30px;
    padding: 15px;
}
.container h2{
    text-align: center;
}
.container img{
    height: 300px;
    width: 200px;
}
/* testimonial */
.testimonial{
    background: url(img/bg2.jpg);
    height: 50%;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    color: white;
}
.testimonial-box{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    margin: 20px;
    color:black;
    background-color:whitesmoke;
}
.boxes img{
    height: 110px;
    width: 118px;
    border-radius: 52px;
  padding: 10px;
}
.boxes p{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    text-align: center;
}
.boxes h4{
    padding: 7px;
    color: #fa6b9bfc;
    font-size: 25px;
}
/* contact us section */
.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info{
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
    height: 50vh;
    background-color: whitesmoke;
    /* border: 2px solid red; */
}
.info input{
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 40%;
}
.image img{
    height: 62vh;
    width: 40vw;
}
/* footer section */
.footer{
    display: flex;
    flex-direction: row;
    background-color: #fa6b9bfc;
    color: white;
    justify-content: space-around;
}
.footer-one{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}
.footer-one h6{
    font-size: 20px;
}
.footer-one p{
    font-size: 18px;
}
.footer-two{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.footer-two h4{
    padding-bottom: 10px;
}
.mix{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.mix h6{
padding-bottom: 5px;
font-size: 15px;
}